.form {
  padding: 16px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--accent-blue);
}

.label {
  text-align: center;
}

.input {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 1px solid var(--white);
  background-color: transparent;
  color: var(--dark-grey);
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  &:disabled {
    opacity: 0.5;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid var(--warning-rose);
  }
}

.phone {
  padding-left: 80px;
}

.asterix {
  position: absolute;
  top: 8px;
  left: 0;
  color: var(--warning-rose);
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}


.errMessage {
  color: var(--warning-rose);
  margin: 0;
  padding: 5px 10px;
}

.formLabelPasswordConteiner {
  position: relative;
}

.showPasswordButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  line-height: 0;
  padding: 10px;
  color: var(--white);
}

.passwordIcon {
  width: 24px;
  height: 24px;
}

.btn {
  width: 100%;
}

.btnContent {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10.5px;
  &::before {
    content: "";
    display: block;
    width: 22.5px;
    height: 1.5px;
    background-color: var(--white);
  }
}

.flagIcon{
  width: 30px;
  height: 30px;
  position: absolute;
  top:0;
  left: 0;
}

.arrow {
  position: absolute;
  top:50%;
  transform: translateY(-60%);
  left:38px
}
