.addAnimation {
  background-color: var(--black);
  padding-bottom: 0;
  padding-top: 0;
  border-bottom: 1px solid var(--accent-blue);
}

.wrapper {
  position: relative;
  height: 740px;
  max-width: 1920px;
}

.animationWrapper {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.animatedP1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border: 2px solid var(--accent-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 75%;
    height: 75%;
    border: 2px solid var(--accent-blue);
    border-radius: 50%;
  }
  &::after {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    border: 2px solid var(--accent-blue);
    border-radius: 50%;
  }
}

.animatedP2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  border: 2px solid var(--accent-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 70%;
    height: 70%;
    border: 2px solid var(--accent-blue);
    border-radius: 50%;
  }

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 50%;
    border: 2px solid var(--accent-blue);
    border-radius: 50%;
  }
}

.animatedTextWrapper {
  position:relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--black),
    var(--accent-blue)
  );
  &::before, &::after {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 5px;
    background: var(--accent-blue);
    filter: blur(5px);
  }
}
.animatedTextWrapper::before {
  left: -2px;
}

.animatedTextWrapper::after {
  right: -2px;
}

.animatedText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-align: center;
  font-family: Swis721 BT;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  border: 2px solid var(--accent-blue);
  border-radius: 50%;
  width: 90%;
  height: 600px;
  @media screen and (min-width: 744px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.animatedText span {
  display: block;
}

.heading {
  font-family: Swis721 Md BT;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  @media screen and (min-width: 744px) {
    font-size: 40px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
  }
}
