.hero {
  border-bottom: 1px solid var(--accent-blue);
}

.animation {
  padding-bottom: 127px;
  @media screen and (min-width: 1440px) {
    padding-bottom: 141px;
  }
}

.text {
  font-family: Roboto Mono;
  font-weight: 400;
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
    width: 640px;
    font-size: 18px;
    margin-bottom: 38px;
    letter-spacing: -0.36px;
    padding-right: 70px;
  }
}

.text1 {
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  @media screen and (min-width: 744px) {
    font-size: 16px;
    letter-spacing: -0.32px;
  }
@media screen and (min-width: 1440px) {
  display: none;
}
}

.wrapper {
  display: flex;
  align-items: flex-end;
  min-height: 312px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text {
  font-family: Roboto Mono;

  font-weight: 400;

  @media screen and (min-width: 1440px) {
    width: 640px;
    font-size: 18px;
    margin-bottom: 38px;
    letter-spacing: -0.36px;
  }
}

.imageContainer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 361px;
  @media screen and (min-width: 744px) {
    min-width: 696px;
  }
  @media screen and (min-width: 1440px) {
    min-width: 466px;
  }
  @media screen and (max-width: 743px) {
    flex-grow: 1;
  }
}

.image {
  width: 50%;
  min-height: 312px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  @media screen and (min-width: 744px) and (max-width: 1439px) {
    background-position: top;
    background-size:  cover;
  }
}
