.hero {
  border-bottom: 1px solid var(--accent-blue);
}

.text {
  font-family: Roboto Mono;
  font-weight: 400;

  @media screen and (min-width: 1440px) {
    width: 640px;
    font-size: 18px;
    margin-bottom: 38px;
    letter-spacing: -0.36px;
    padding-right: 70px;
  }
}

.wrapper {
  display: flex;
  align-items: flex-end;
  height: 312px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text {
  font-family: Roboto Mono;

  font-weight: 400;

  @media screen and (min-width: 1440px) {
    width: 640px;
    font-size: 18px;
    margin-bottom: 38px;
    letter-spacing: -0.36px;
  }
}

.imageContainer {
  position: relative;
  width: 361px;
  height: auto;
  @media screen and (min-width: 744px) {
    width: 696px;
  }
  @media screen and (min-width: 1440px) {
    width: 466px;
  }
}

.image {
  width: 50%;
  height: 312px;
}
