.header {
  padding: 15px 0;
  border-bottom: 1px solid var(--accent-blue);
  
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  cursor: pointer;
  padding: 12px 66px;
  display: flex;
  align-items: center;
  gap: 6.5px;
  color: var(--white);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.28px;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &::before {
    content: "";
    display: block;
    background-image: url("../../assets/svg/arrow.svg");
    width: 16px;
    height: 16px;
  }
  &:hover {
    background-color: var(--dark-grey);
  }
}

